npm i @react-native-community/push-notification-ios --save<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366491909428-ltojvf7mikcpp7s0m0vvr8mdc9nofioe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366491909428-ltojvf7mikcpp7s0m0vvr8mdc9nofioe</string>
	<key>API_KEY</key>
	<string>AIzaSyCdmRvCXh9Mn-fxOc2BFyMPj-qtEbs4T_8</string>
	<key>GCM_SENDER_ID</key>
	<string>366491909428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.vigoris</string>
	<key>PROJECT_ID</key>
	<string>vigoris-71057</string>
	<key>STORAGE_BUCKET</key>
	<string>vigoris-71057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366491909428:ios:d1ec2b831c270d3cfe3961</string>
</dict>
</plist>
